* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: poppins;
  src: url(fonts/Poppins-Bold.ttf);
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: sharpGrotesk;
  src: url(fonts/SharpGroteskBook25.ttf);
  font-style: normal;
  font-weight: normal;
}

.logo {
  font-family: poppins;
  font-size: 8rem;
}

#punto {
  color: rgb(212, 254, 163);
}

.subtitle {
  font-family: sharpGrotesk;
}

.comingsoon {
  text-transform: uppercase;
  letter-spacing: 0.8rem;
}

.gradient-image {
  background-color: #cccccc; /* Used if the image is unavailable */
  background-image: url("/img/gradient.png"); /* The image used */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  height: 100vh; /* You must set a specified height */
}
